<% if user_signed_in? %>
    <li>
      <%= link_to('Logged in as: ' + current_user.email + ' (Edit)', edit_user_registration_path) %>
    </li>
    <% if current_user.role == 'Admin' %>
        <li>
          <%= link_to 'Promote user', promote_path %>
        </li>
    <% end %>
    <li>
      <%= link_to 'Statistics & Achievements', '#', 'data-toggle' => 'modal', 'data-target' => '#statsModal' %>
    </li>
<% else %>
    <li>
      <%= link_to('Register', new_user_registration_path)  %>
    </li>
<% end %>