<div class="container border-form-div">
    <div class="text-center">
      <h3>Welcome to the Coin Store</h3>
      <h4>Select an amount to purchase</h4>
      <br/>
      <img src='<%= image_url('coins/coin_store.png')%>' width="60%">
    </div>
    <br/>
    <div class="row text-center">
      <div class="col-md-4"><img src='<%= image_url('coins/one_dollar.png')%>' width="50" height="50">
        <br/>
        $1 for 5 coins
      </div>
      <div class="col-md-4">
        <img src='<%= image_url('coins/five_dollars.png')%>' width="50" height="50">
        <br/>
        $5 for 30 coins
        <br/>
        (5 coins free!)
      </div>
      <div class="col-md-4">
        <img src='<%= image_url('coins/ten_dollars.png')%>' width="50" height="50">
        <br/>
        $10 for 75 coins
        <br/>
        (15 coins free!)
      </div>
    </div>
</div>