<h1>New Game</h1>

<%= render 'form' %>

<div id="randomGame" class="text-center">
  <%= button_to 'Start game with random player', random_game_path, :class => 'btn btn-info btn-lg btn-block', :method => :get %>
</div>

<%= link_to 'Back', games_path %>
